<div class="pull-right">
  <button *ngIf="!addOrders" type="button" class="btn btn-primary" (click)="addOrder(true)">Add Drug Order</button>
  <button *ngIf="addOrders" type="button" class="btn btn-danger" (click)="addOrder(false)">X</button>
</div>
<br><br>
<div *ngIf="!addOrders" [ngBusy]="{busy:[fetchingResults, isBusy],message:'Loading Drug Orders...'}">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Date Created</th>
          <th>Drug Prescription Details</th>
          <th>Orderer</th>
          <th>Date Stopped</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of activeDrugOrders | paginate: { itemsPerPage: 10, currentPage: page }; let i = index; ">
          <td>{{ order.dateActivated | date:'dd/MM/yyyy' }}</td>
          <td>{{ order.display }}</td>
          <td>{{ order.orderer.display }}</td>
          <td>{{ order.dateStopped | date:'dd/MM/yyyy' }}</td>
          <td>
            <button class="btn glyphicon glyphicon-repeat" title="Renew Order" (click)="renewOrder(order)"></button>
            <button *ngIf="!order.dateStopped" class="btn glyphicon glyphicon-remove" title="Discontinue Order" (click)="discontinueOrder(order)"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <pagination-controls (pageChange)="page = $event" style="cursor: pointer;"></pagination-controls>
  </div>
</div>

<div *ngIf="addOrders">
  <add-drug-orders ></add-drug-orders>
</div>