<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <h4 class="pull-left component-title">Patient {{orderType}} Orders</h4>
      <span class="pull-right options">
        <form class="form-inline">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="orderType" required [ngModelOptions]="{standalone: true}">
              <option [value]="''">Select Order Type</option>
              <option *ngFor = "let orderType of orderTypes" [value]="orderType">{{orderType}}</option>
            </select>
          </div>
        </form>
      </span>
    </div>
  </div>
  <div class="panel-body" *ngIf="!orderType">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Order Date</th>
            <th>Order No</th>
            <th>Order Type</th>
            <th>Order Name</th>
            <th>Ordered By</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of patientOrders | paginate: { itemsPerPage: 10, currentPage: page }; let i = index; ">
            <td>
              {{order.dateActivated | date:'dd/MM/yyyy'}}
            </td>
            <td>
              {{order.orderNumber}}
            </td>
            <td>
              {{order.orderType.display}}
            </td>
            <td>
              {{order.display}}
            </td>
            <td>
              {{order.orderer.display}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <pagination-controls (pageChange)="page = $event" style="cursor: pointer;"></pagination-controls>
    </div>

  </div>
  <div class="panel-body" *ngIf="orderType == 'Test'">
    <lab-test-orders></lab-test-orders>
  </div>
  <div class="panel-body" *ngIf="orderType == 'Drug'">
    <app-drug-orders></app-drug-orders>
  </div>

</div>